.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70%;
}

.title{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 33px;
    color: rgba(52, 52, 52, 1);
    margin-bottom: 3rem;
}

.input {
    width: 100%;
    padding: 1rem;
    border: 1.38px solid #D0D0D0;
    border-radius: 11.03px;
    float: right;
    outline: none;
    padding-left: 3rem;
}


.inputContainer {
    width: 100%;
    position: relative;
}

.iconContainer {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.5rem;
    /* left: 3.5%; */
}

.icon {
    width: 29.5px;
    height: 29.5px;
}

p {
    color: #828282;
    font-family: Open Sans;
}

.passwordToggleContainer {
    position: absolute;
    right: 1.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    color: #828282;
}
